<%= form_for(@webinar) do |f| %>
  <% if @webinar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@webinar.errors.count, "error") %> prohibited this webinar from being saved:</h2>

      <ul>
      <% @webinar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :overview %><br>
    <%= f.text_area :overview %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :presenter %><br>
    <%= f.text_field :presenter %>
  </div>
  <div class="field">
    <%= f.label :presinfo %><br>
    <%= f.text_area :presinfo %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
<div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
