<%= first_web(@webinar) %>

<h1>Important dates</h1>
<table>
  
  <tbody>
     <% @webinars.each do |webinar| %>
    <tr>
  
     <td><%= webinar.date %></td>
     <td><%= webinar.title %></td>
     <td><%= webinar.presenter %></td>
    
       
        
        
        
        <td><%= link_to 'Show', webinar %></td>
        <td><%= link_to 'Edit', edit_webinar_path(webinar) %></td>
        <td><%= link_to 'Destroy', webinar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> 
       
    <% end %>
  </tbody>
</table>

<br>


